<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Danh sách</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon.png"
    />
    <!-- Datatable -->
    <link
      href="/vendor/datatables/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/zoom-img.css" />
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Header start
        ***********************************-->
      <%- include('layout/header'); %>
      <!--**********************************
            Header end
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <%- include('layout/sidebar'); %>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="container-fluid">
          <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                <h4>Danh sách</h4>
                <span class="ml-1">Danh sách</span>
              </div>
            </div>
            <div
              class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Người dùng</a>
                </li>
                <li class="breadcrumb-item active">
                  <a href="javascript:void(0)">Danh sách</a>
                </li>
              </ol>
            </div>
          </div>
          <!-- row -->

          <div class="row text-dark">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Danh sách</h4>
                </div>
                <div class="card-body text-center">
                  <div class="table-responsive">
                    <table
                      id="example"
                      class="display"
                      style="min-width: 845px"
                    >
                      <thead>
                        <tr>
                          <th>Họ tên bệnh nhân</th>
                          <th>Ảnh</th>
                          <th>AI chẩn đoán</th>
                          <th>Bác sĩ chẩn đoán</th>
                          <th>Ngày tạo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let key in datas) { %>
                        <tr>
                          <td>        </td> <!--Tên bệnh nhân. lấy thông tin từ bảng inforuser where image.idbenhnhan == inforuser.idbenhnhan-->
                          <td>
                            <img
                              class="myImg"
                              style="max-width: 6em; max-height: 6em"
                              onclick="zoom(this)"
                              src="/assets/uploads/<%= datas[key].nameimage %>"
                            />
                          </td>
                          <td><%= datas[key].infer_ai %></td>
                          <td><%= datas[key].infer_doctor %></td>
                          <td><%= new Date(datas[key].createdAt).toLocaleDateString() %></td>
                        </tr>
                        <% } %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Họ tên bệnh nhân</th>
                          <th>Ảnh</th>
                          <th>AI chẩn đoán</th>
                          <th>Bác sĩ chẩn đoán</th>
                          <th>Ngày tạo</th>
                        </tr>
                      </tfoot>
                    </table>
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" <% if(!datas.length) { %> disabled <% } %> data-target=".bd-example-modal-lg">Gửi tin nhắn cho bệnh nhân</button>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <form class="form-valide" action="/doctor/user/send<% if(datas != 'undefined' && datas != null && datas.length != 0){%><%= '/' + datas[0].idbenhnhan%><%}%>" method="POST" enctype="multipart/form-data">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thông tin chỉnh sửa </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-8">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-messeger">Kết luận của bác sĩ
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="val-messeger" name="messenger" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary" id="modalEdit">Gửi</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal" class="modal-img">
        <span class="close">&times;</span>
        <img class="modal-img-content" id="img01" />
        <div id="caption"></div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <%- include('layout/footer'); %>
      <!--**********************************
            Footer end
        ***********************************-->

      <!--**********************************
           Support ticket button start
        ***********************************-->

      <!--**********************************
           Support ticket button end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    <script src="/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/js/plugins-init/datatables.init.js"></script>
    <script src="/js/zoom-img.js"></script>
    <script>
      $(document).ready(function () {
        $(".edit").click(function () {
          // $(this).hide();
          if (confirm("123"))
            window.location.href =
              window.location.origin + "/edit/" + this.value;
          // alert(this.value)
        });

        $(".delete").click(function () {
          // $(this).hide();
          if (confirm("Bạn có muốn xóa Ảnh"))
            window.location.href =
              window.location.origin + "/delete/" + this.value;
          // alert(this.value)
        });
      });
    </script>
  </body>
</html>
